src/.well-known
src/wp-admin
src/wp-includes
src/wp-content/cache
src/wp-content/upgrade
src/wp-content/ai1wm-backups
src/wp-content/uploads
src/wp-content/.htaccess
src/wp-content/debug.log
src/wp-content/index.php
src/wp-content/install.php
src/wp-content/install.php
src/wp-content/uploads/members*
src/wp-snapshots
src/.htaccess
src/index.php
src/license.txt
src/robots.txt
src/wp-activate.php
src/wp-blog-header.php
src/wp-comments-post.php
src/wp-config-sample.php
src/wp-config.php
src/wp-cron.php
src/wp-links-opml.php
src/wp-load.php
src/wp-login.php
src/wp-mail.php
src/wp-settings.php
src/wp-signup.php
src/wp-trackback.php
src/xmlrpc.php
*.sql
*.zip
*.tar
*.log
.env


